<app-header></app-header>
<div class="container forgot-pw">
    <div class="forgot-pw-form">
        <form action="" #signUpForm="ngForm" (submit)="ForgotPassword()">
            <ng-container>
                <div class="reset-pw-head">
                    <span id="auth-head">
                        <h2>Forgot Password</h2>
                    </span>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label for="Email">Please enter your register email address</label>
                        <input class="form-control" type="email" id="email" autocomplete="off" name="email"  ngModel required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 button-col">
                    <button class="form-control signin-btn" type="submit">Reset Password</button>
                    <button class="form-control cancel-btn" type="submit" routerLink="/profile/auth">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
