.dashboard-section {
    padding: 20px 40px;

    .profile-card {
        padding: 20px 0;

        .profile-section {
            text-align: center;
            padding: 30px 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;

            .profile-image {
                width: 160px;
                height: 150px;
                margin: auto;
                border-radius: 100%;

                img {
                    width: 100%;
                    border-radius: 100%;
                    height: 100%;
                }
            }

            .profile-desc {
                h4 {
                    font-size: 20px;
                    margin: 0;
                }
            }



            .edit-profile-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;

                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }

        .address-section {
            padding: 30px 20px;

            .customer_name {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                h4 {
                    margin: 0;
                }

                i {
                    border: 1px solid var(--primary);
                    padding: 5px;
                    border-radius: 100%;
                }
            }

            span.address-label {
                font-size: 14px;
                margin-top: 10px;
                color: #7e7979;
            }

            .edit-Address-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;

                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }
    }
}


.Edit-Profile-section {
    padding: 20px 40px;

    .btn {
        background: var(--primary);
        border: var(--primary);
        color: #fff;
    }

    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(77, 207, 77, 0.25);

    }
}

.Order-History-section {
    padding: 20px 40px;

    .order-history-header {
        display: grid;
        grid-template-columns: 80% 10%;
        grid-gap: 20px;
        align-items: center;
        .search-ordered-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 100%;
            }
        }
    }

    .dropdown{
        white-space: nowrap;
    }
}


::ng-deep {
    .search-ordered-item {
        .p-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .p-inputtext {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}