<div class="container">
    <div class="product-detail-section" *ngIf="productDetail.length>0">
        <ng-container *ngFor="let detail of productDetail">
            <div class="product-image">
                <img [src]="detail.data.image" alt="">
            </div>
            <div class="product-detail">
                <div class="product-name">
                    <h3>{{detail.data.name}}</h3>
                </div>
                <div class="product-rate">
                    <!-- <div *ngIf="detail.data.sale_price != detail.data.regular_price">
                        <p class="sale_price">{{detail.data.sale_price | currency}}</p>
                        <h3>{{detail.data.regular_price | currency}}</h3>
                    </div>
                    <div *ngIf="detail.data.sale_price == detail.data.regular_price" >
                        <h3>{{detail.data.regular_price | currency}}</h3>
                    </div> -->
                    <ng-container
                        *ngIf="detail.data.regular_price < detail.data.sale_price; then thenBlock else elseBlock">
                    </ng-container>
                    <ng-template #thenBlock>
                        <h4 class="product-price mb-1" style="text-decoration-line: line-through; font-size: 14px;">
                            {{detail.data.sale_price | currency}}</h4>
                        <h4 class="product-price">{{detail.data.regular_price | currency}}</h4>
                    </ng-template>
                    <ng-template #elseBlock>
                        <h4 class="product-price">{{detail.data.regular_price | currency}}</h4>
                    </ng-template>

                    <ng-container *ngIf="detail.data.in_stock==1">
                        <p>Availability : In Stock</p>
                    </ng-container>
                    <ng-container *ngIf="detail.data.in_stock==0">
                        <p>Availability : Out of Stock</p>
                    </ng-container>
                </div>
                <div class="product-desc">
                    <div [innerHtml]="this._ApiService.getSantizedData(detail.data.short_desc)"></div>
                </div>
                <div class="product-info">
                    <ul>
                        <li *ngIf="detail.data.sku">SKU: {{detail.data.sku}}</li>
                        <li *ngIf="detail.data.hsn">hsn :{{detail.data.hsn}}</li>
                        <li *ngIf="detail.data.tag">Tag: {{detail.data.tag}}</li>
                    </ul>
                </div>
                <div class="d-flex" style="justify-content: space-between; max-width: 320px; align-items: center;">
                    <div class="add-to-cart">
                        <div class="counter">
                            <button (click)="Count('decrease')">-</button>
                            <input type="text" pInputText [(ngModel)]="ItemCount" />
                            <button (click)="Count('increase')">+</button>
                        </div>
                        <div class="addtocartbutton">
                            <button (click)=AddProductToCart(detail.data) pButton pRipple type="button"
                                label="Add to Cart" class="p-button-raised p-button-success"
                                style="height:38px;"></button>
                        </div>
                    </div>
                    <div class="wishlist" routerLink="/shop/wishlist">
                        <span><i class="pi pi-heart" aria-hidden="true" title="Wishlist"></i></span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="productDetail.length==0">
        <div style="text-align: center; border: 1px solid #dedede; margin: 100px 0;">
            <h3>No data found</h3>
        </div>
    </ng-container>

    <div class="product-detail-tab my-3">
        <ng-container *ngFor="let detail of productDetail">
            <p-tabView>
                <p-tabPanel header="Description">
                    <h5><strong>Description</strong></h5>
                    <div [innerHtml]="this._ApiService.getSantizedData(detail.data.description)"></div>
                </p-tabPanel>
                <p-tabPanel header="Additional Information">
                    <h5><strong>Additional Information</strong></h5>

                    <ul>
                        <li style="font-size: 18px;" *ngIf="detail.data.weight">
                            <b>Weight</b> : {{detail.data.weight}}
                        </li>
                        <li style="font-size: 18px;" *ngIf="detail.data.height">
                            <b>Height</b> : {{detail.data.height}}
                        </li>
                        <li style="font-size: 18px;" *ngIf="detail.data.shipping_class">
                            <b>Shipping class</b> : {{detail.data.shipping_class}}
                        </li>
                    </ul>
                </p-tabPanel>
            </p-tabView>

        </ng-container>
        <div class="recommendation-product">
            <h3>Recommended Products</h3>
            <app-card-slider></app-card-slider>
        </div>
    </div>
</div>